body {
  font-family: Arial, sans-serif;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: rgba(168,85,247,0.2);
}

/* TYPING CURSOR */
#typing::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,100% {opacity:0}
  50% {opacity:1}
}

/* BACKGROUND IMAGE */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('bgpix.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  z-index: -2;
}

.bg-image {
  filter: blur(2px);
}

/* OVERLAY (BIAR GELAP & ELEGAN) */
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(3, 0, 20, 0.7); /* transparansi */
  z-index: -1;
}

.bg-overlay {
  background: linear-gradient(
    to bottom,
    rgba(3,0,20,0.6),
    rgba(3,0,20,0.9)
  );
}
